@* _LoginRequiredPartial.cshtml *@
<div class="alert alert-warning">
    Bạn cần phải đăng nhập để xem giỏ hàng.
    <a href="@Url.Action("Login", "Account")" class="btn btn-primary">Đăng nhập</a>
</div>
